:root {
  --accent_clr: #1177fe;
  --padding: 60px;

  --red: #f35c5b;
  --yellow: #fbab12;
  --blue: #3290ff;
  --green: #2dc987;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s all ease;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #fff, var(--accent_clr) 150%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

form {
  width: 400px;
  height: fit-content;
  border-radius: 20px;
  border: 1px solid #0007;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #fff;
  box-shadow: 0 0 20px #0002;
}

form label {
  display: grid;
  color: #0007;
}

form label input {
  width: 100%;
  height: 40px;
  padding-left: 8px;
  border-radius: 10px;
  border: none;
  background: #eee;
}

label:hover {
  color: #000;
}

form select {
  width: 100%;
  height: 40px;
  padding-inline: 8px;
  border-radius: 10px;
}

form button {
  width: 100%;
  padding: 10px;
  background: var(--accent_clr);
  border-radius: 10px;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

form button:hover {
  background: var(--blue);
}

.userInfoContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 30px var(--padding);
  background: #eee;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.userInfoContainer > h1 {
  font-weight: 400;
  font-size: 1.5rem;

  border-left: 5px solid var(--accent_clr);
  padding-left: 5px;
}

.infoWrapper {
  display: flex;
  gap: 1rem;
}
.infoWrapper > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  background: #7d7d7d;
}

.infoText {
  display: flex;
  flex-direction: column;
}

.infoText p {
  opacity: 0.7;
}

.infoText ul {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.infoText ul button {
  padding: 6px 25px;
  border-radius: 8px;
  background: var(--accent_clr);
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.infoText ul button:last-child {
  background: #fff;
  color: var(--accent_clr);
}

.title {
  width: 100%;
  padding: 30px var(--padding);
}

.title h1 {
  font-weight: 400;
  font-size: 1.8rem;
  padding-left: 5px;
  border-left: 5px solid var(--accent_clr);
}

.topRatedSlider {
  max-width: 100%;
  height: fit-content;
  padding: 10px var(--padding) 30px;
  overflow-x: scroll;
}

.sliderWrapper {
  width: fit-content;
  height: 100%;
  display: flex;
  gap: 1.1rem;
}

.sliderCard {
  width: 400px;
  max-height: 80px;
  border-radius: 10px;
  border: 2px solid #0005;
  background: #0005;
  padding: 8px;
  display: flex !important;
  align-items: center;
  gap: 1rem;
}

.sliderCard.blue {
  border-color: var(--blue);
  background: color-mix(in srgb, var(--blue) 30%, #0000);

  .sliderCardRating {
    background: var(--blue);
  }
}

.sliderCard.green {
  border-color: var(--green);
  background: color-mix(in srgb, var(--green) 30%, #0000);

  .sliderCardRating {
    background: var(--green);
  }
}

.sliderCard > img {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  background: #0005;
}

.sliderCard ul h1 {
  font-size: 1.2rem;
}

.sliderCard ul p {
  opacity: 0.5;
  font-weight: 600;
}

.sliderCardRating {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 8px;
  background: #0005;
  display: grid;
  place-content: center;
  margin-left: auto;
  color: #fff;
}

.sliderCardRating p {
  height: fit-content;
  width: fit-content;
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
}
